<div id="banner">
    <h2 id="name">Jake W. Vincent, Ph.D.</h2>
    <span class="personal-title">Data Scientist (NLP) · LLM/HITL Evaluation &amp; Prompt Engineering · Linguist</span>
    <span class="social">
        <a class="fa-brands fa-orcid" title="OrcID" href="https://orcid.org/0000-0002-4794-4370"></a>
        <a class="fa-brands fa-researchgate" title="ResearchGate" href="https://www.researchgate.net/profile/Jake-Vincent-3"></a>
        <a class="fa-brands fa-github" title="Github" href="https://github.com/jakewvincent/"></a>
        <a class="fa-brands fa-linkedin" title="LinkedIn" href="https://www.linkedin.com/in/jake-vincent-phd-8279a6ab"></a>
        <span class="display-on-hover-top">
            <a class="fa-solid fa-envelope" id="mail-icon"></a>
            <code class="email display-on-hover-bottom highlighter-rouge">ved.vwj@ekaj</code>
        </span>
    </span>
</div>
