<div id="banner">
    <h2 id="name">Jake W. Vincent, Ph.D.</h2>
    <span class="personal-title">Linguist · Language Engineer</span>
    <span class="social">
        <a class="fa-brands fa-researchgate" href="https://www.researchgate.net/profile/Jake-Vincent-3"></a>
        <a class="fa-brands fa-github" href="https://github.com/jakewvincent/"></a>
        <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/jake-vincent-phd-8279a6ab"></a>
    </span>
    <div class="divFill"></div>
</div>
