<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/assets/css/stylesheet.css">
        <link type="text/css" rel="stylesheet" href="/assets/css/stylesheet_blog.css">
        <link type="text/css" rel="stylesheet" href="/assets/css/syntax.css">
        <link href="/assets/css/fa.all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans:300,700&display=swap&subset=latin-ext" rel="stylesheet">
        <title>JWV: {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="container">
            {% include banner.html %}
            {% include navigation.html %}
            <div class = "main">
                <div id="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
